table {


    table-layout: fixed;
    word-wrap: break-word;

}

.table {     margin-bottom: 0px;}

th {
    width : 5%;    
}
td {
    width : 10%;
    text-align :left;  
}
.panel-body span {
    text-decoration : underline;
}

.nuevousuario{
    display :none;    
}